{% extends 'layout.html' %}

{% block content %}
<section class="hero-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hero-text">
          <h2>Invest in <span>Stocks</span> <br>Stock Investment Predictor</h2>
          <h4>Use modern progressive technologies of Stocks to earn money</h4>
          <form class="hero-subscribe-from">
            <input type="text" placeholder="Enter your email">
            <button class="site-btn sb-gradients">Get Started</button>
          </form>
        </div>
        <div class="col-md-6">
          <img src="{{url_for('static',filename='img/laptop.png')}}" class="laptop-image" alt="">
        </div>
      </div>
    </div>
  </section>
  

<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="bg-light rounded p-4">
				<div class="d-flex justify-content-between align-items-center mb-3">
					<h6 class="mb-0">Stocks</h6>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="stock-description">
							<h6 class="mb-3">SHEEZAN</h6>
							<p class="mb-1">SHZN</p>
							<p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget lacinia tellus. Nullam euismod dolor at imperdiet semper.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="bg-light text-center rounded p-4">
				<div class="d-flex align-items-center justify-content-between mb-4">
					<h6 class="mb-0">Prediction</h6>
				</div>
				<canvas id="sales-revenue"></canvas>
			</div>
		</div>
	</div>
</div>
<!-- Chart Start -->

{% endblock %}

{% block scripts %}
<!-- Chart.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

<!-- Charts initialization script -->
<script>
    const chart = document.querySelector('.charts-section')
    const getData = async function() {
        const response = await fetch('/stcks', {
            method: 'POST',
            headers: {
                
            }
        });
        const data = response.json();
        
    }

	const dates = {{dates | tojson}};
	const vals = {{vals | tojson}};

	const pred_dates = {{pred_dates|tojson}};
	const pred_vals = {{pred_vals|tojson}};

	// dates = dates.reverse();

	const null_dates = []
	for(let i = 0; i < 30; i++){
		null_dates.push(null);
	}

	for(let i = 0; i < 5; i++){
		null_dates.push(pred_vals[i]);
	}
	vals.unshift(pred_vals[0]);


	// Salse & Revenue Chart
	var ctx2 = $("#salse-revenue").get(0).getContext("2d");
	var myChart2 = new Chart(ctx2, {
		type: "line",
		data: {
			labels: dates.reverse().concat(pred_dates),
			datasets: [{
					label: "Previous",
					data: vals.reverse(),
					backgroundColor: "rgba(0, 156, 255, .5)",
					fill: true
				},
				{
					label: "Prediction",
					data: null_dates,
					backgroundColor: "rgba(0, 156, 0, 0.5)",
					fill: true
				}
			]
		},
		options: {
			responsive: true
		}
	});
</script>
{% endblock %}
