{% extends "layout.html" %}
	{% block loader %}
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>	
	{% endblock loader %}

	{% block content %}

	<!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h2>Contact Us</h2>
			<div class="site-beradcamb">
				<a href="">Home</a>
				<span><i class="fa fa-angle-right"></i> Contact us</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->



	<!-- Contact section -->
	<section class="contact-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<form class="contact-form" action="/contact" method="POST">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" name="fname" placeholder="First Name" required>
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" name="lname" placeholder="Last Name" required>
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="email" name="email" placeholder="Email Adress" required>
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" name="phNum" placeholder="Phone Number">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea placeholder="Tell us about your question!" name="question" required></textarea>
								</div>
								<h5 class="mb-3">Way to Contacts<span>*</span>:</h5>
								<div class="contact-type">
									<label class="ct-label">Phone
										<input type="radio" name="preference" value="phone">
										 <span class="checkmark"></span>
									</label>
									<label class="ct-label">Email
										<input type="radio" name="preference" value="email">
										 <span class="checkmark"></span>
									</label>
									<label class="ct-label">Other
										<input type="radio" name="preference" value="other">
										 <span class="checkmark"></span>
									</label>
								</div>

								<button class="site-btn sb-gradients mt-4" input_type="submit">Submit form</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-lg-5 mt-5 mt-lg-0">
					<div class="map" id="map-canvas"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->

	{% endblock content %}
	


	

	{% block scripts %}
	<!-- load for map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
	<script src="{{url_for('static', filename='js/map.js')}}"></script>

	{% endblock scripts %}