{% extends "layout.html" %}
	{% block content %}
    <!-- Hero section -->
	<section class="hero-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 hero-text">
					<h2>Invest in <span>Stocks</span>Stock Investment Predictor</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

    <main id="main">
        <!-- ======= Table ======= -->
        <section class="diptable counts scrollsnap">
            <div data-aos="fade-right" data-aos-delay="20">
                <div class="" style="padding:10rem;">
                    <div class="container">
                        <div class="data-table-container diptable">
                            <table id="dip-body" class="display table table-striped" style="width:100%; font-size: 1.5rem;">
                                <thead class="thead-light">
                                    <tr style="font-weight: bold;">
                                        <th></th>
                                        <th scope="col">Company Name</th>
                                        <th scope="col">Change</th>
                                        <th></th>
                                    </tr>
                                </thead>
								<tbody>
                                        {% for row in data %}
                                        <tr onclick="window.location ='#'">
                                            <td>{{ 0 }}</td>
                                            <td>{{ row[0] }}</td>
                                            {% if row[1]>=0 %}
                                            <td style="color: green;">{{ row[1] }}</td>
                                            {%else%}
                                            <td style="color: red;">{{ row[1] }}</td>
                                            {%endif%}
                                        </tr>
                                        {% endfor %}
								</tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </section>
        <!-- End Table -->
    </main>
    <!-- End #main -->

    <script>
        $(document).ready(function () {
            $('#dip-body').DataTable({
                ajax: '/all.json',
                order: [[3, 'asc']],
            });
        });

    </script>
{% endblock content %}